<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://kit.fontawesome.com/c0e515670e.js" crossorigin="anonymous"></script>
    <title>Lista de Tarefas</title>
</head>
<body>
    <header>
    </header>
    <main style="margin-left: 34%; margin-top: 8%;">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
